.table {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.table th,
.table td {
  text-align: center;
}

.table th {
  background-color: #ede0ce;
  padding: 10px;
}

.table td {
    font-size: 14px;
}


.table td:last-child form button.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.table th:first-child,
.table td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table th:last-child,
.table td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.text-bg-success {
    background-color: rgba(49, 132, 49, 0.5) !important;
  }

  .text-bg-danger {
    background-color: rgba(252, 60, 60, 0.5) !important;
  }

  .filter-buttons a{
    /* border-radius: 12px 12px 0 0; */
    background-color: white;
    color: darkslategray;
    border: 1px solid darkgrey;
    font-size: 13px;
}

.pagination .page-link {
    font-size: 13px; /* Sesuaikan dengan ukuran yang diinginkan */
}
