
.card {
    width: 240px;
    border-radius: 15px;
    border: transparent;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.row {
    overflow-x: auto;
}

.card-container {
    flex: 0 0 auto;
    margin-right: 15px;
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

.card-body h5 {
    font-weight: bold;
    font-size: 14px;
}

.card-body p {
    font-size: 12px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5);
}
